APP_NAME=rubedo-backend
APP_ENV=development
AUTH_JWT_SECRET=replace-me
AUTH_ALLOW_DEBUG_HEADERS=false
AUTH_ALLOW_SCAFFOLD_LOGIN=true
AUTH_SCAFFOLD_LOGIN_PASSWORD=dev-password-change-me

FRONTEND_PORT=3000
BACKEND_PORT=8080
POSTGRES_PORT=5433
REDIS_PORT=6380
RABBITMQ_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673
MEILISEARCH_PORT=7701

POSTGRES_DB=rubedo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
REDIS_DB=0
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
MEILI_ENV=development
MEILISEARCH_MASTER_KEY=masterKey
